*{
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
    
}

.hero_inner{
    width: 90vw;
    height: 100%;

}

.herosection_1{
    width: 100vw;
    height:100vh;
    background: url(../nerolink/image/homepage1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(225, 138, 24);
    box-sizing: border-box;

}
nav a{
    margin: 0;
}

header{
    width: 100%;
    height: 10em;
    box-sizing: border-box;
   
   
}
.leftside{
    width: 50%;
    height: 10em;
   
    float: right;
    
}
.rightside{
    width: 50%;
    height: 10em;
  
    
}
.inner_section{
    width: 100%;
    height: 10em;
}
.button_container
{
    display: none;
    position: absolute;
    top: 0;
}

.herosection_2
{

    background-color: rgb(11, 11, 11);
    overflow: hidden;

}
.hero_inner_body_2{
    width: 90vw;
    height: 90vh;
    background-color: yellow;

}
.part1{
    background-color: #c9a3a4;
    color: white;
}
.part2{
    background-color: #a7ceef;
    color: white;
}
.part3{
    background-color: #acb5ac;
    color: white;
}

.section_3{
    width: 100vw;
    height:70vh;
    background-image: url(../nerolink/image/homepage-footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: bisque;
}
footer{
    color: #858686;
}

footer ul{
    list-style-type: none;
    cursor: pointer;
}

footer p:hover{
    color: black;
}
footer li:hover{
    color: black;

}











@media(max-width:767px)
{
    #menu-items{
        display: none;
    }
   

   
}

@media(min-width:767px)
{
    #menu-icon
    {
        display: none;
    }
}
@media screen and (max-width:767px)
{
    #hero1_link
    {
        display: block;
        margin:0;
        color: red;


    }
}